<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paginacamy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/EstiloBVC.css">
</head>

<body>
        <form id="encuesta" action="paginaprincipal.html">
            <section class="form-encuesta">
                <h3>¿Cuál es tu género favorito?</h3>
                <input class="form-control" type="text" name="nombre" placeholder="Nombre"> <br>
                <input class="form-control" type="text" name="apellido" placeholder="Apellido"> <br>
                <select name='nombreIntengrante' required>
                    <option selected disabled>Sel. una opción</option>
                    <option>70's</option>
                    <option>80's</option>
                    <option>90's</option>
                    <option>2000's</option>
                    <option>Jazz</option>
                    <option>Rock</option>
                    <option>Pop</option>
                    <option>Rap</option>
                    <option>Country</option>
                    <option>Metal</option>
                    <option>Folk</option>
                    <option>Salsa</option>
                    <option>Reggaeton</option>
                    <option>Dance</option>
                    <option>Reggae</option>
                    <option>Punk Rock</option>
                    <option>K-Pop</option>
                    <option>Electronic</option>
                    <option>Merengue</option>
                    <option>Rock&Roll</option>
                </select> <br> <br>
                <input class="form-control" type="text" name="razon" placeholder="Razón">
                <br>
                <button type="submit" class="btn btn-primary">♥ Guardar ♥</button>
                <p style="text-align:center;"> <img src="./img/homer.gif" width=150 height=150 ></p>            
                <a href="usuarioverificado.html"><img src="./img/home.svg" alt="Volver">
            </section>
        </form>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="./js/register.js"></script>
</body>

</html>