<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relajacion</title>
    <link rel="stylesheet" href="css/EstiloBVC.css">
</head>

<body>
    <section class="form-registro">
        <h1>Si la música no funcionó para relajarte y pasar un buen rato...entonces mira esto:</h1><br>
        <p style="text-align:center;">
            <img alt="foto gatito" width=320 height=240>
            <script src="./js/gatito.js"></script><br>
        <br>
        <audio src="./Music/jkbebe.mp3" controls="controls"
        type="audio/mpeg" preload="="preload">
        </audio></p><br>
        <a href="usuarioverificado.html"><img src="./img/home.svg" alt="Volver">    
    </section> 
</body>

</html>