<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paginacamy</title>
    <link rel="stylesheet" href="css/EstiloBVC.css">
</head>
<body>
    <section class="form-registro">
    <div style="text-align: center;">
        <font color="White"><h1>♥♥♥K-POP♥♥♥</h1></div>
        <p style="text-align:center;">
            El k-pop​ es un género musical que incluye diversos estilos musicales <br>
            y proviene de KR<br><br>
            <video autoplay controls src="./Video/videobiti.mp4"  width=320  height=240></video> </p>
            <br>
            <br>
            <br>
        <a href="usuarioverificado.html"><img src="./img/home.svg" alt="Volver">        
    </section>
</body>

</html>