<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<section class="form-registro">
    <title>Document</title>
    <link rel="stylesheet" href="css/EstiloBVC.css">
</head>
<body>
    <section class="form-registro_msj">
            <br>
            <h5> ¡Tu cuenta a sido creada!
            <br><br><br>
           <img src="./img/perro.gif" width=150  height=150 >
            <br><br>
            Ingresa nuevamente para poder acceder a la página web
            </h5>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>   
            <a href="paginaprincipal.html"><img src="./img/home.svg" alt="Volver">
            <br><br><br>
 
    </section>
</body>
</html>
