<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<section class="form-registro">
    <title>Document</title>
    <link rel="stylesheet" href="css/EstiloBVC.css">
</head>
<body>
    <section class="form-registro">
            <br>
            <h5> ¡Haz llegado hasta el final!
            <br><br>
            Gracias por participar de la encuesta.
            <br><br>
            tu opcion se ha guardado existosamente... 
            ¡Por favor vuelve pronto!
            Te estaremos esperando. 
            <br><br><br>
           <img src="./img/jk.gif" width=150  height=150 >
            <br>
            </h5>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <a href="usuarioverificado.html"><img src="./img/home.svg" alt="Volver">    
    </section>
</body>
</html>