<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<section class="form-registro">
    <title>Document</title>
    <link rel="stylesheet" href="css/EstiloBVC.css">
</head>
<body>

    <section class="form-registro">
            <br>
            <h5> ¡Tu contraseña se ha restablecido existosamente!
            <br><br>
             Ingresa nuevamente para poder acceder a la página web
            <br><br>
           <img src="./img/v.gif" width=150  height=150 >
            <br>
            </h5>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <a href="paginaprincipal.html"><input class="buttons" type="submmit" value="Volver al menú"></a>
            <br><br><br>
 
    </section>
</body>
</html>