<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Menú</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="css/EstiloBVC.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  <div class="container-fluid">
    <div class="bg-light">
      <nav class="navbar navbar-expand-md navbar-dark bg-black border-bottom border-primary">
        <div class="container-fluid">
          <a href="#" class="navbar-brand">
            <img src="./img/LogoSF.png" alt="logo" width="100" height="100">
            SPOTIFLY</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div id="MenuNavegacion" class="collapse navbar-collapse">
          <ul class="navbar-nav ms-3">
            <li class="nav-item">
              <a class="nav-link active" href="gatito.html">Relajación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Encuesta.html">Encuesta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="KPOP1.html">KPOP</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Reproductor.html">Reproductor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Bienvenido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="paginaprincipal.html">Salir</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-3">
          </ul>
        </div>
      </nav>
    </div>
    <div class="row justify-content-center mt-4">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>
    <br>
  </div>
  <div class="container">
    <br>
    <h5> GENEROS MAS ESCUCHADOS EN EL 2022 </h5>
    <div class="banner">
      <div class="cancion">
        <div class="container mt-3">
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModal">
            <img src="img/decadas.png" width="150" height="150" />
          </button>
          <div class="modal" id="myModal">
            <div class="modal-dialog modal-lg bg-black">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Un mix de musica por decadas</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/320428207?h=2f9a97bee6" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/320428207">70's Soft Music</a> from <a
                      href="https://vimeo.com/user62993569djmemix">guillermo villegas</a> on <a
                      href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </div>
            </div>
          </div>
  <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModal">
    <img src="img/Metal.jpg" width="150" height="150" />
  </button>
  <div class="modal">
    <div class="modal-dialog modal-lg bg-black">
      <div class="modal-content bg-black">
        <div class="modal-header bg-black">
          <h4 class="modal-title">A darlo todo con el Metal</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <iframe src="https://player.vimeo.com/video/415900706?h=3b8c65ae29" width="640" height="640" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          <p><a href="https://vimeo.com/415900706">METAL</a> from <a href="https://vimeo.com/willand">Will Anderson</a>
            on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModal">
    <img src="img/Kpop.jpg" width="150" height="150" />
  </button>
  <div class="modal" id="myModal90s">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Que mejor Kpop que BTS!</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <iframe src="https://player.vimeo.com/video/203366847?h=ebf96f0b18" width="640" height="360" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          <p><a href="https://vimeo.com/203366847">Kpop-BTS-방탄소년단-Spring Day M/V Teaser</a> from <a
              href="https://vimeo.com/user62282664">Kpop_Gizmo</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModal">
    <img src="img/Latino.png" width="150" height="150" />
  </button>
  <div class="modal" id="myModal2000">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Bailemos con musica Latina</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <iframe src="https://player.vimeo.com/video/113851622?h=5783df9bf2" width="640" height="360" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          <p><a href="https://vimeo.com/113851622">Latino Vol. 2</a> from <a href="https://vimeo.com/djgoodlife">Dj
              GoodLife</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
      </div>
    </div>
  </div>
    <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModal">
      <img src="img/jazz.jpg" width="150" height="150" />
    </button>
    <div class="modal" id="myModalJazz">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Disfrute de un buen Jazz</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <iframe src="https://player.vimeo.com/video/10677082?h=b4595731ee&portrait=0" width="640" height="360"
              frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p><a href="https://vimeo.com/10677082">K. Sparks - &quot;Abstract Jazz&quot; Music Video</a> from <a
                href="https://vimeo.com/eduardodonoso">Eduardo Donoso</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="banner">
      <div class="cancion">
        <div class="container mt-3">
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModal">
            <img src="img/reggae.PNG" width="150" height="150" />
          </button>
          <div class="modal" id="myModal">
            <div class="modal-dialog modal-lg bg-black">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Un mix de musica por decadas</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/320428207?h=2f9a97bee6" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/320428207">70's Soft Music</a> from <a
                      href="https://vimeo.com/user62993569djmemix">guillermo villegas</a> on <a
                      href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModal">
            <img src="img/romance.PNG" width="150" height="150" />
          </button>
          <div class="modal" id="myModal">
            <div class="modal-dialog modal-lg bg-black">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Un mix de musica por decadas</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/320428207?h=2f9a97bee6" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/320428207">70's Soft Music</a> from <a
                      href="https://vimeo.com/user62993569djmemix">guillermo villegas</a> on <a
                      href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModal">
            <img src="img/clasica.PNG" width="150" height="150" />
          </button>
          <div class="modal" id="myModal">
            <div class="modal-dialog modal-lg bg-black">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Un mix de musica por decadas</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/320428207?h=2f9a97bee6" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/320428207">70's Soft Music</a> from <a
                      href="https://vimeo.com/user62993569djmemix">guillermo villegas</a> on <a
                      href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModal">
            <img src="img/tv.PNG" width="150" height="150" />
          </button>
          <div class="modal" id="myModal">
            <div class="modal-dialog modal-lg bg-black">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Un mix de musica por decadas</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/320428207?h=2f9a97bee6" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/320428207">70's Soft Music</a> from <a
                      href="https://vimeo.com/user62993569djmemix">guillermo villegas</a> on <a
                      href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModal">
            <img src="img/viaje.PNG" width="150" height="150" />
          </button>
          <div class="modal" id="myModal">
            <div class="modal-dialog modal-lg bg-black">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Un mix de musica por decadas</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/320428207?h=2f9a97bee6" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/320428207">70's Soft Music</a> from <a
                      href="https://vimeo.com/user62993569djmemix">guillermo villegas</a> on <a
                      href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </div>
            </div>
          </div>
         
          </div>
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModal">
            <img src="img/gaming.PNG" width="150" height="150" />
          </button>
          <div class="modal" id="myModalRock">
            <div class="modal-dialog modal-lg">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Disfrute del gaming</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/88081351?h=47507464bf&color=ffffff" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/88081351">Classic Rock ID - Hard Rock Hotel</a> from <a
                      href="https://vimeo.com/rodrigokermessi">Rodrigo Kermessi</a> on <a href="https://vimeo.com">Vimeo</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModal">
            <img src="img/rock.png" width="150" height="150" />
          </button>
          <div class="modal" id="myModalRock">
            <div class="modal-dialog modal-lg">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Disfrute del Rock</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/88081351?h=47507464bf&color=ffffff" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/88081351">Classic Rock ID - Hard Rock Hotel</a> from <a
                      href="https://vimeo.com/rodrigokermessi">Rodrigo Kermessi</a> on <a href="https://vimeo.com">Vimeo</a>.
                  </p>
                </div>
              </div>
            </div>            
  </div>
</div>
</div>
</div>
</div>
  </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>