 {% extends 'app/base.html' %}

 {% block contenido %}
 
 {% load crispy_forms_tags %}
    

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4> <div style="text-align: center;"> Nueva Cancion </h4>
                    <hr>
                    <br>
            <form action="" method="post">
                {% csrf_token %}
                {{form | crispy}}
                
                    <div class="d-flex justify-content-center">
                        <ul>
                        <input type="reset" value="Cancelar" class="btn btn-secondary" >
                        <input type="submit" value="Guardar" class="btn btn-primary" >
                      </ul>
                      </div>
            <form>
            {{mensaje}}
        <div>
    <div>
 
 {% endblock %}
 
 
 
