
{% extends 'app/base.html'%}
{% block contenido %}

<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Menú</title>
  
    {% load static %}
    
    {% block js %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  {% endblock %}
</head>
<body>
<div class="container" style="text-align:center;">

    <br>
    <h5 > GENEROS MÁS ESCUCHADOS EN EL 2022 </h5>
    <div class="banner">
      <div class="cancion">
        <div class="container mt-3">
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModal">
            <img src= "{% static 'app/img/decadas.png' %}" width="150" height="150" />
          </button>
          <div class="modal" id="myModal">
            <div class="modal-dialog modal-lg bg-black">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Un mix de musica por decadas</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/320428207?h=2f9a97bee6" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/320428207">70's Soft Music</a> from <a
                      href="https://vimeo.com/user62993569djmemix">guillermo villegas</a> on <a
                      href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </div>
            </div>
          </div>
  <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalMetal">
    <img src="{% static 'app/img/Metal.jpg' %}" width="150" height="150" />
  </button>
  <div class="modal" id="myModalMetal">
    <div class="modal-dialog modal-lg bg-black">
      <div class="modal-content bg-black">
        <div class="modal-header bg-black">
          <h4 class="modal-title">A darlo todo con el Metal</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <iframe src="https://player.vimeo.com/video/415900706?h=3b8c65ae29" width="640" height="640" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          <p><a href="https://vimeo.com/415900706">METAL</a> from <a href="https://vimeo.com/willand">Will Anderson</a>
            on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalKpop">
    <img src="{% static 'app/img/Kpop.jpg' %}" width="150" height="150" />
  </button>
  <div class="modal" id="myModalKpop">
    <div class="modal-dialog modal-lg bg-black">
      <div class="modal-content bg-black">
        <div class="modal-header bg-black">
          <h4 class="modal-title">Que mejor Kpop que BTS!</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <iframe src="https://player.vimeo.com/video/203366847?h=ebf96f0b18" width="640" height="360" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          <p><a href="https://vimeo.com/203366847">Kpop-BTS-방탄소년단-Spring Day M/V Teaser</a> from <a
              href="https://vimeo.com/user62282664">Kpop_Gizmo</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalLatina">
    <img src="{% static 'app/img/Latino.png' %}" width="150" height="150" />
  </button>
  <div class="modal" id="myModalLatina">
    <div class="modal-dialog modal-lg bg-black">
      <div class="modal-content bg-black">
        <div class="modal-header bg-black">
          <h4 class="modal-title">Bailemos con musica Latina</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <iframe src="https://player.vimeo.com/video/113851622?h=5783df9bf2" width="640" height="360" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          <p><a href="https://vimeo.com/113851622">Latino Vol. 2</a> from <a href="https://vimeo.com/djgoodlife">Dj
              GoodLife</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
      </div>
    </div>
  </div>
    <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalJazz">
      <img src="{% static 'app/img/jazz.jpg' %}" width="150" height="150" />
    </button>
    <div class="modal" id="myModalJazz">
      <div class="modal-dialog modal-lg bg-black">
        <div class="modal-content bg-black">
          <div class="modal-header bg-black">
            <h4 class="modal-title">Disfrute de un buen Jazz</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <iframe src="https://player.vimeo.com/video/10677082?h=b4595731ee&portrait=0" width="640" height="360"
              frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p><a href="https://vimeo.com/10677082">K. Sparks - &quot;Abstract Jazz&quot; Music Video</a> from <a
                href="https://vimeo.com/eduardodonoso">Eduardo Donoso</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="banner">
      <div class="cancion">
        <div class="container mt-3">
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalreggae">
            <img src="{% static 'app/img/reggae.PNG' %}" width="150" height="150" />
          </button>
          <div class="modal" id="myModalreggae">
            <div class="modal-dialog modal-lg bg-black">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Un mix de musica por decadas</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/320428207?h=2f9a97bee6" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/320428207">70's Soft Music</a> from <a
                      href="https://vimeo.com/user62993569djmemix">guillermo villegas</a> on <a
                      href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalRomance">
            <img src="{% static 'app/img/romance.PNG' %}" width="150" height="150" />
          </button>
          <div class="modal" id="myModalRomance">
            <div class="modal-dialog modal-lg bg-black">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Un mix de musica por decadas</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/320428207?h=2f9a97bee6" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/320428207">70's Soft Music</a> from <a
                      href="https://vimeo.com/user62993569djmemix">guillermo villegas</a> on <a
                      href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalClasica">
            <img src="{% static 'app/img/clasica.PNG' %}" width="150" height="150" />
          </button>
          <div class="modal" id="myModalClasica">
            <div class="modal-dialog modal-lg bg-black">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Un mix de musica por decadas</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/320428207?h=2f9a97bee6" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/320428207">70's Soft Music</a> from <a
                      href="https://vimeo.com/user62993569djmemix">guillermo villegas</a> on <a
                      href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalTv">
            <img src="{% static 'app/img/tv.PNG' %}" width="150" height="150" />
          </button>
          <div class="modal" id="myModalTv">
            <div class="modal-dialog modal-lg bg-black">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Musica de tus peliculas favoritas</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/320428207?h=2f9a97bee6" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/320428207">70's Soft Music</a> from <a
                      href="https://vimeo.com/user62993569djmemix">guillermo villegas</a> on <a
                      href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalViaje">
            <img src="{% static 'app/img/viaje.PNG' %}" width="150" height="150" />
          </button>
          <div class="modal" id="myModalViaje">
            <div class="modal-dialog modal-lg bg-black">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Para andar por carretera</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/320428207?h=2f9a97bee6" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/320428207">70's Soft Music</a> from <a
                      href="https://vimeo.com/user62993569djmemix">guillermo villegas</a> on <a
                      href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </div>
            </div>
          </div>
         
          </div>
          <div class="banner">
            <div class="cancion">
              <div class="container mt-3">
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalGaming">
            <img src="{% static 'app/img/gaming.PNG' %}" width="150" height="150" />
          </button>
          <div class="modal" id="myModalGaming">
            <div class="modal-dialog modal-lg">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Disfrute del gaming</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/88081351?h=47507464bf&color=ffffff" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/88081351">Classic Rock ID - Hard Rock Hotel</a> from <a
                      href="https://vimeo.com/rodrigokermessi">Rodrigo Kermessi</a> on <a href="https://vimeo.com">Vimeo</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalRock">
            <img src="{% static 'app/img/rock.png' %}" width="150" height="150" />
          </button>
          <div class="modal" id="myModalRock">
            <div class="modal-dialog modal-lg">
              <div class="modal-content bg-black">
                <div class="modal-header bg-black">
                  <h4 class="modal-title">Disfrute del Rock</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-black">
                  <iframe src="https://player.vimeo.com/video/88081351?h=47507464bf&color=ffffff" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/88081351">Classic Rock ID - Hard Rock Hotel</a> from <a
                      href="https://vimeo.com/rodrigokermessi">Rodrigo Kermessi</a> on <a href="https://vimeo.com">Vimeo</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>

            <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalRock">
              <img src="{% static 'app/img/HipHop.png' %}" width="150" height="150" />
            </button>
            <div class="modal" id="myModalRock">
              <div class="modal-dialog modal-lg">
                <div class="modal-content bg-black">
                  <div class="modal-header bg-black">
                    <h4 class="modal-title">Disfrute del Rock</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <div class="modal-body bg-black">
                    <iframe src="https://player.vimeo.com/video/88081351?h=47507464bf&color=ffffff" width="640" height="360"
                      frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    <p><a href="https://vimeo.com/88081351">Classic Rock ID - Hard Rock Hotel</a> from <a
                        href="https://vimeo.com/rodrigokermessi">Rodrigo Kermessi</a> on <a href="https://vimeo.com">Vimeo</a>.
                    </p>
                  </div>
                </div>
              </div> 
            </div>

      
              <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalRock">
                <img src="{% static 'app/img/punk.jpg' %}" width="150" height="150" />
              </button>
              <div class="modal" id="myModalRock">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content bg-black">
                    <div class="modal-header bg-black">
                      <h4 class="modal-title">Disfrute del Rock</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body bg-black">
                      <iframe src="https://player.vimeo.com/video/88081351?h=47507464bf&color=ffffff" width="640" height="360"
                        frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                      <p><a href="https://vimeo.com/88081351">Classic Rock ID - Hard Rock Hotel</a> from <a
                          href="https://vimeo.com/rodrigokermessi">Rodrigo Kermessi</a> on <a href="https://vimeo.com">Vimeo</a>.
                      </p>
                    </div>
                  </div>
                </div>    
              </div>

                <button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#myModalRock">
                  <img src="{% static 'app/img/soul.png' %}" width="150" height="150" />
                </button>
                <div class="modal" id="myModalRock">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content bg-black">
                      <div class="modal-header bg-black">
                        <h4 class="modal-title">Disfrute del Rock</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div>
                      <div class="modal-body bg-black">
                        <iframe src="https://player.vimeo.com/video/88081351?h=47507464bf&color=ffffff" width="640" height="360"
                          frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <p><a href="https://vimeo.com/88081351">Classic Rock ID - Hard Rock Hotel</a> from <a
                            href="https://vimeo.com/rodrigokermessi">Rodrigo Kermessi</a> on <a href="https://vimeo.com">Vimeo</a>.
                        </p>
                      </div>
                    </div>
                  </div>   
                </div>   
              </div>   
            </div>
          </div>   
  
        
  </div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>

  </section>
  </div>
</body>
</html>

{% endblock %}

