

{% extends 'app/base.html'%}
{% block contenido %}
{% load static %}
<form id="encuesta" action="paginaprincipal.html">
    <section class="form-encuesta">
        <h3 style="text-align:center;">¿Cuál es tu género favorito?</h3>
        <input class="form-control" type="text" name="nombre" placeholder="Nombre"> <br>
        <input class="form-control" type="text" name="apellido" placeholder="Apellido"> <br>
        <select name='nombreIntengrante' required>
            <option selected disabled>Sel. una opción</option>
            <option>70's</option>
            <option>80's</option>
            <option>90's</option>
            <option>2000's</option>
            <option>Jazz</option>
            <option>Rock</option>
            <option>Pop</option>
            <option>Rap</option>
            <option>Country</option>
            <option>Metal</option>
            <option>Folk</option>
            <option>Salsa</option>
            <option>Reggaeton</option>
            <option>Dance</option>
            <option>Reggae</option>
            <option>Punk Rock</option>
            <option>K-Pop</option>
            <option>Electronic</option>
            <option>Merengue</option>
            <option>Rock&Roll</option>
        </select> <br> <br>
        <input style="text-align:center;" class="form-control" type="text" name="razon" placeholder="Razón">
        <br>
        <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
        <br>
        <a class="btn btn-secondary" href="{% url 'home' %}" role="button">Guardar</a>                


        <p style="text-align:center;"> <img src="{% static 'app/img/homer.gif' %}" width=150 height=150 ></p>            
    </section>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="./js/register.js"></script>
{% endblock %}