:root {
    --padding: 10px 20px;
    --radius: 10px;
    --fondo: #181818;
    --efecto: all .5s;
}

body {
    background-image: url(../img/Fondo_web.jpg);
    background-size: 100%;
    display: flex;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: rgb(53, 52, 52);
    text-align: center;
}

.btn {
    color: white;
    height: 100px;
    width: 100px;
}

.dropdown-item {
    background-color: black;
}

.offcanvas-body {
    background-image: url(../img/fondonegro.jpg);
}

.container {
    position: static;
    display: flex;
}

.container aside {
    padding: var(--padding);
}

.container aside .menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    background-color: black;
}

.container aside .menu a span {
    margin-right: 8px;
}

.container aside .menu a:hover {
    color: white;
    transform: scale(1.1);
}

.container section .contenedor_degradado,
.container section .contenedor_contenido {
    padding: var(--padding);
}

.container section .contenedor_degradado {
    background: linear-gradient(#505053, #181818);
    width: 100%;
    height: 95%;
    margin-top: 61px;
}

.container section .contenedor_degradado .banner {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.container section .contenedor_degradado .banner .cancion {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*overflow: hidden;*/
    margin: 1em;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.container section .contenedor_degradado .banner .cancion figure {
    position: relative;
    width: 100%;
    height: 100%;
    transition: var(--efecto);
}

.container section .contenedor_degradado .banner .cancion figure img {
    width: 100%;
    height: 100%;
}

.container section .contenedor_degradado .banner .cancion figure:hover {
    width: 100%;
    transform: scale(1.1);
}