*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('static/app/img/Fondo_web2.jpg');
    background-size: 100%;
    background-size: cover;
}
.controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    text-align: center;
    color: white;
    margin-bottom: 16px;
}
.buttons_index {
    width: 30%;
    height: 40px;
    background: #8f9091;
    border: none;
    text-align: center;
    color: white;
    margin-bottom: 8px;
    margin-left: 35%; 
}
h1,h2,h3,h4,h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    font-size:  20px;
    color: whitesmoke;
}
.p{
    height: 40px;
    text-align: left;
}
.img{
    width: 10%;
    text-align: left;
    background: #4e4d4d;
}
.a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.a:hover{
    text-decoration-style: underline;
}
/*---------------------------*/
.form-login {
    width: 400px;
    height: 360px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
.form-login p{
    height: 40px;
    text-align: right;
}
/*---------------*/
.error{
    color: red;
    font-style: italic;
}

.form-recup {
    width: 400px;
    height: 360px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
/*---------------*/
.form-registro {
    width: 400px;
    height: 520px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
/*---------------*/
.form-registro_msj {
    width: 400px;
    height: 420px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
/*---------------*/
.form-kpop p{
    height: 50px;
    text-align: left;
    border-bottom: 1px solid;
}
/*---------------*/
.form-encuesta {
    width: 500px;
    height: 570px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}
.modal-content {
    background: #4e4d4d;
}
.modal-content{
    background-color: #4e4d4d;
}
/*-------CSS LUIS--------*/
:root {
    --padding: 10px 20px;
    --radius: 10px;
    --fondo: #181818;
    --efecto: all .5s;
}

body {
    background-image: url(../img/Fondo_web2.jpg);
    background-size: 100%;
    display: flex;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.btn {
    color: white;
    height: 100px;
    width: 100px;
}

.dropdown-item {
    background-color: black;
}

.offcanvas-body {
    background-image: url(../img/fondonegro.jpg);
}

.container {
    position: static;
    display: flex;
}

.container aside {
    padding: var(--padding);
}

.container aside .menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    background-color: black;
}

.container aside .menu a span {
    margin-right: 8px;
}

.container aside .menu a:hover {
    color: white;
    transform: scale(1.1);
}

.container section .contenedor_degradado,
.container section .contenedor_contenido {
    padding: var(--padding);
}

.container section .contenedor_degradado {
    background: linear-gradient(#505053, #181818);
    width: 100%;
    height: 95%;
    margin-top: 61px;
}

.container section .contenedor_degradado .banner {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.container section .contenedor_degradado .banner .cancion {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*overflow: hidden;*/
    margin: 1em;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.container section .contenedor_degradado .banner .cancion figure {
    position: relative;
    width: 100%;
    height: 100%;
    transition: var(--efecto);
}

.container section .contenedor_degradado .banner .cancion figure img {
    width: 100%;
    height: 100%;
}

.container section .contenedor_degradado .banner .cancion figure:hover {
    width: 100%;
    transform: scale(1.1);
}
/*------CSS REPRODUCTOR---------*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

:root {
  --background: #555556;
  --gray: #797d7f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.player {
  width: 300px;
  height: 550px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.player__controls {
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25px;
}

.player__btn {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
    8px 8px 20px #0001, 5px 5px 6px 0px #0001;
  color: var(--gray);
}

.player__btn:active {
  box-shadow: inset -8px -8px 20px #fff9, inset -5px -5px 6px #fff9,
    inset 8px 8px 20px #0003, inset 5px 5px 6px #0001;
}

.player__btn--small {
  min-width: 50px;
  min-height: 50px;
}

.player__title {
  font-weight: 600;
  font-size: 0.8em;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.player__album {
  width: 150px;
}

.player__img {
  border-radius: 50%;
  box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
    -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
}

.player__artist {
  font-size: 1.2em;
  font-weight: 500;
  opacity: 0.5;
  margin: 20px 0px 0px 0px;
}

.player__song {
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  opacity: 0.5;
  margin: 0;
}

.player__level {
  width: 80%;
  -webkit-appearance: none;
  outline: none;
  border: none;
  padding: 0;
  margin-top: 40px;
}

.player__level::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
}

.player__level::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 100%;
  background-color: #5c87fe;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.audio-duration {
  margin-top: -30px;
  display: flex;
  width: 78%;
  font-size: 10px;
  font-weight: 600;
  color: #a1a1a1;
  letter-spacing: 1px;
}

.start {
  flex: 1;
}

.player__audio {
  visibility: hidden;
}

.player__btn--medium {
  min-height: 70px;
  min-width: 70px;
}

.blue {
  background-color: #5c87fe;
  color: #fff;
}

.hide {
  display: none;
}
