h5 {
    color:white;
}
#bg {
    background-image: url('../img/Fondo_web.png');
    background-size: cover;
    background-repeat:no-repeat ;    
}

#logincard, #registrocard {
    background-color: #282828;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

